.sidebar > h3 {
	font-size:30px;
	margin-top:30px;
	text-align: center;
}

.form-control#editor{
   width: 80%;
   height:500px;
   margin-top:10px;
   display: block;
}
.form-control#name{
   width: 20%;
   height:40px;
   display: inline;
}

#savebutton{
	display:inline;
	margin-left:10px;
	height: 40px;
}



#footer p{
	padding-top: 12px;
}

}
#availableFiles li{
  height:30px;
}